body {
    text-align: center;
    margin: 0;
    font-family: "Spinnaker", sans-serif;
}

img{
    width:150px;
    height: 150px;
}

.activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-img{
    border-radius: 50%;
}

.activity-name{
    width: 200px;
    text-align: center;
    padding: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.activity-name:hover{
    transform: scale(1.03);
    background-color: #28465e;
    border-radius: 4px;
    color: #e2e8f7;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.activity-description{
    width: 400px;
    margin: 0 0 40px 0;
    padding: 0px 20px;
    font-style: italic;
}

#header-title, #header-message{
    padding: 2px 10px;
    margin: 0 0 10px;
    background-color: #AC783F;
    border-radius: 4px;
}


#header{
    margin: 0;
    background-image: url("images/ho-chi-minh-city-from-above.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#e2e8f7
}

#activity{
    background-color: #e2e8f7;
}

#activity-title{
    margin: 0;
    padding: 40px;
}
#activity-section{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tour-guide{
    margin: 50px auto;
    width: 600px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: #28465e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#e2e8f7;
    transition: all 0.3s ease;
}

#tour-guide:hover{
    transform: scale(1.05);
    background-color: #908198;
}

#tour-guide-img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
}

#tour-guide-info {
    width: 300px;
}
#tour-guide-message {
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
}
